nav > a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

nav > a.active {
  padding: 5px;
  text-decoration: none;
  background-color: blue;
}

.header-row {
  width: 100%;
}

.a-margin {
  margin: 0px 10px;
}
.headerLogo {
  margin-top: 1px;
  height: 58px;
}
