<div class="row center-xs margin-abm">
  <div class="col-xs">
    <div class="box">

      <div class="row" *ngIf="!fromEmail">
        <div class="col-xs-10">
          <div class="box">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email provisto por tú facultad</mat-label>
              <input type="email" matInput [formControl]="email" placeholder="Ej. jlopez@fing.edu.uy">
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Formato del email <strong>incorrecto</strong>.
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                Email es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="col-xs-2">
          <div class="box">
            <button mat-raised-button color="primary" style=" padding: 5px 20px; margin-top: 5px;" (click)="sendEmail()">Reestablecer contraseña <mat-icon> send</mat-icon> </button>
           
          </div>
        </div>
      </div>

      
      <form [formGroup]="form"  *ngIf="fromEmail">
        <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <mat-form-field class="full-width">
      
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
      
            </mat-form-field>
      
      
          </div>
        </div>
      
        <div class="col-xs-12">
          <div class="box">
            <mat-form-field class="full-width">
      
              <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirme Password"
                formControlName="passwordConfirm">
              <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
      
              <mat-error *ngIf="passwordConfirm.hasError('mustMatch')  && passwordConfirm.dirty && passwordConfirm.errors">
                El Password y la confirmación <strong>deben coincidir </strong>, verifique.
              </mat-error>
            </mat-form-field>
      
      
          </div>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12">
          <div class="box">
            <button mat-raised-button color="primary" style=" padding: 5px 20px; margin-top: 5px;"
              (click)="changePassword()" [disabled]="form.invalid">Reestablecer contraseña <mat-icon> send</mat-icon> </button>
          </div>
        </div>
      </div>

      </form>
      


    </div>
  </div>
</div>