<form [formGroup]="loginForm">

  <div id="login" class="login-wrapper" >

    <mat-card class="box example-card">
      <mat-card-header style="margin-bottom: 10px;">
        <mat-card-title>Iniciar Sesión!</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            El email ingresado es <strong>incorrecto</strong>.
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width"> 
          
            <input matInput type="password" placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="password.hasError('required')">
              Password es <strong>requerido</strong>.
            </mat-error>
           
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Iniciar sesión
      </button>
        <a mat-button  class="btn-register" (click)="register()" >  <small> Registrarse! </small> </a>
        <a mat-button  class="btn-register" (click)="forgotPassword()" >  <small> Olvide mi contraseña! </small> </a>

    </mat-card>

  </div>
  <!-- <div id="spinner" class="login-wrapper" *ngIf="showSppiner">
    <h2 class="example-h2">Iniciando sesión...</h2>
    <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate" style="margin: 0px auto;">
    </mat-progress-spinner>
  </div> -->
</form>