<!-- Topbar  -->
<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon matSuffix>menu</mat-icon>
  </button>
  <span> Chat - Bienvenido {{currentUser.nombres}} {{currentUser.apellidos}}! </span>

</mat-toolbar>
<!-- Usuarios sidebar - start -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened
    [class]="(agrandarPadding$ | async) ? 'padding-botton-35' : 'padding-botton-13'">
    <mat-form-field>
 
      <input matInput placeholder="Buscar Conversaciones" [(ngModel)]="userFilter.nombres" />
    </mat-form-field>
    <mat-list cdk-virtual-scroll-viewport itemSize="50">
 
      <mat-list-item *ngFor="let usuario of usuarios | filterBy: userFilter" (click)="seleccionarUsuario(usuario)">
        <mat-icon matListIcon>account_circle</mat-icon>
        <h3 matLine class="text-primary"> {{ usuario?.nombres }} <small>({{ usuario?.tipo }})</small> </h3>
        <p matLine>
          <span class="small text-muted"> {{ usuario?.email }} </span><br />
          <span class="small text-muted small" style="color: #00a9f4; font-size: 12px;"
            *ngIf="usuario?.mensajeVisto === false"> <strong> Nuevo Mensaje </strong> ::
            {{ usuario.mensajeTimestamp?.toDate() | date: "dd MMM hh:mm" }} </span>

        </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <!-- Chat Screen Main Content - start -->
  <div class="example-sidenav-content">
    <div class="mesgs" id="container" [class]="(isHandset$ | async) ? 'mesgs-100' : 'mesgs'">
      <cdk-virtual-scroll-viewport itemSize="40" class="msg_history " *ngIf="showMensajes">
        <!-- *cdkVirtualFor="let mensaje of mensajes; let i = index" -->
        <div *ngFor="let mensaje of mensajes; let i = index">


          <div class="incoming_msg" *ngIf="mensaje.usuarioEmisor != currentUser.userName">
           
            <div class="incoming_msg_img">
              <img [src]="mensaje.emisorFoto ? mensaje.emisorFoto : 'https://ptetutorials.com/images/user-profile.png'"
                alt="sunil" />
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{ mensaje.contenido }}</p>
                <span class="time_date" id="{{ i == mensajes.length - 3 ? 'destination' : 'abc' }}">

                  {{mensaje.timestamp.toDate() | date: "dd MMM hh:mm"}} </span>
              </div>
            </div>
          </div>
        
          <div class="outgoing_msg" *ngIf="mensaje.usuarioEmisor == currentUser.userName">
           
            <div class="sent_msg">
              <p>{{ mensaje.contenido }}</p>
              <span class="time_date" id="{{ i == mensajes.length - 3 ? 'destination' : 'abc' }}">
                {{mensaje.timestamp.toDate() | date: "dd MMM hh:mm" }} </span>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>

      <div class="type_msg" *ngIf="showMensajes">
        <div class="row">
          <div class="col-xs-11 input_msg_write">
            <input mat-input type="text" placeholder="Escribe un mensaje aquí" [(ngModel)]="mensaje"
              (keydown.enter)="enviarMensaje()" />

          </div>
          <div class="col-xs-1">
            <button [class]="(isHandset$ | async) ? 'msg_send_btn-absolute' : 'msg_send_btn-relative'"
              class="msg_send_btn" type="button" (click)="enviarMensaje()" (keydown.enter)="enviarMensaje()">
              <mat-icon matSuffix>send</mat-icon>
            </button></div>
        </div>

        <!-- <div class="input_msg_write">
            <input
              mat-input
              type="text"
              placeholder="Escribe un mensaje aquí"
              [(ngModel)]="mensaje"
              (keydown.enter)="enviarMensaje()"
            />
            <button
              class="msg_send_btn"
              type="button"
              (click)="enviarMensaje()"
              (keydown.enter)="enviarMensaje()"
            >
              <mat-icon matSuffix>send</mat-icon>
            </button>
          </div> -->

      </div>
    </div>
  </div>
  <!-- Chat Screen Main Content - ends -->

</mat-drawer-container>
<!-- Usuarios sidebar - ends -->