<div class="row margin-abm">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box">

      <mat-card>

        <form [formGroup]="respuestaForm">


          <mat-card-content>

            <div class="row">
              <div class="col-xs-6">
                <div class="box">

                  <mat-form-field class="full-width">
                    <input matInput placeholder="mensaje" formControlName="mensaje" required>
                    <mat-error *ngIf="mensaje.hasError('required')">
                      Nombre es <strong>requerido</strong>.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <div class="col-xs-6">
                <div class="box">

                  <mat-form-field class="full-width">
                    <input matInput placeholder="usuario" formControlName="usuario" required>
                    <mat-error *ngIf="usuario.hasError('required')">
                      Descripcion es <strong>requerido</strong>.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions align="end">


            <button mat-raised-button color="primary" type="button" [disabled]="respuestaForm.invalid"
              (click)="guardarRespuesta($event)" (keyup.enter)="guardarRespuesta($event)">Guardar Respuesta</button>
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
          </mat-card-actions>
        </form>
      </mat-card>


    </div>
  </div>
</div>