.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  justify-content: center;
}

.width100 {
  width: 100%;
}

.align-center {
  text-align: center;
}

h1.title {
  width: 100%;
  text-align: center;
}
