<div class="row margin-abm">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box">

      <mat-card>

        <form [formGroup]="temaforoForm">


          <mat-card-content>

            <div class="row">
              <div class="col-xs-6">
                <div class="box">

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre" formControlName="asunto" required>
                    <mat-error *ngIf="asunto.hasError('required')">
                      Nombre es <strong>requerido</strong>.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <div class="col-xs-6">
                <div class="box">

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Descripcion" formControlName="mensaje" required>
                    <mat-error *ngIf="mensaje.hasError('required')">
                      Descripcion es <strong>requerido</strong>.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="box">

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre" formControlName="file" required>
                    <mat-error *ngIf="file.hasError('required')">
                      Nombre es <strong>requerido</strong>.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <div class="col-xs-6">
                <div class="box">

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Descripcion" formControlName="emisor" required>
                    <mat-error *ngIf="emisor.hasError('required')">
                      Descripcion es <strong>requerido</strong>.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="box">

                  <mat-checkbox formControlName="subrscripcionADiscusion">Requiere
                    Matriculación?
                  </mat-checkbox>

                </div>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions align="end">


            <button mat-raised-button color="primary" type="button" [disabled]="temaforoForm.invalid"
              (click)="guardarTemaForo($event)" (keyup.enter)="guardarTemaForo($event)">Guardar TemaForo</button>
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
          </mat-card-actions>
        </form>
      </mat-card>


    </div>
  </div>
</div>