<footer>
  <mat-toolbar color="primary" style="background: #004983; color: #fff;">
    <mat-toolbar-row>
      <div class="row bottom-xs end-xs footer-row">
        <div class="col-xs-6">
          <div class="box">
            <span>Udelar Online</span>
            <span class="example-spacer"></span>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <div class="container">
    <div class="row">


      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de Udelar Online UY</h3>
          <ul>
            <li><a routerLink="/public/about-us">Sobre nosotros</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div> -->
</footer>
