@import "~@angular/material/theming";

footer {
  padding: 50px 0px;
  margin-top: 20px;
  background-color: #00a9f4;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

  .box {
    h3,
    h4 {
      color: white;

      a {
        text-decoration: none;
        color: white;
      }
    }

    input {
      color: white;
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        margin: 10px 0px;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.footer-row {
  width: 100%;
}
