<div class="row margin-abm">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box">
      <mat-card>
        <mat-card-header>
          <mat-card-title> {{ foro.titulo }} </mat-card-title>
          <mat-card-subtitle> {{ foro.descripcion }} </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-gestion-custom
            [dataInput]="foro.temaForoLista"
            [columns]="columnas"
            tipoSingular="TemaForo"
            tipoPlural="Tema Foros"
            [actions]="actions"
            [actionsHeader]="actionsHeader"
          >
          </app-gestion-custom>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
