<div class="row center-xs margin-abm">
  <div class="col-xs-12">
    <div class="box">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="tipo = 'facultades'">Listados de facultades</mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'curso-facultades'">Listados de cursos por facultades</mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'curso-estadisticas'">Información estadística de cursos</mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'facultades-estadisticas'">Información estadística de facultades
        </mat-button-toggle>
      </mat-button-toggle-group>
      
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12">
    <div class="box">
      <ng-container [ngSwitch]="tipo">
        <div class="row" *ngSwitchCase="'facultades'">
          <div class="col-xs">
            <div class="box">
              <app-gestion-facultad [actions]="actions" [actionsHeader]="actionsHeader"></app-gestion-facultad>

            </div>
          </div>
        </div>
        <ng-container >
          

        </ng-container>
        <ng-container *ngSwitchCase="'curso-facultades'">
          Aca Va el listado de cursos por facultades
        </ng-container>
        <ng-container *ngSwitchCase="'curso-estadisticas'">
          Aca Va Información estadística de cursos
        </ng-container>
        <ng-container *ngSwitchCase="'facultades-estadisticas'">
          Aca va Información estadística de facultades
        </ng-container>
        <ng-container *ngSwitchDefault></ng-container>
      </ng-container>
    </div>
  </div>
</div>