/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
  Primary: #1976d2
  Light-primary: #63a4ff
  Dark-Primary: #004ba0

  Secondary: #90caf9
  Light-Secondary: #c3fdff
  Dark-Secondary: #5d99c6

  Text on P: #ffffff
  Text on S: #e1f5fe

*/

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.margin-abm {
  margin: 20px;
}

// Admin  -> nbentos@fing.edu.uy
