<form [formGroup]="form">
<mat-form-field class="full-width">

  <mat-label> {{ label }} </mat-label>

  <input matInput #trigger="matAutocompleteTrigger" formControlName="controlData" [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='sendItem.emit($event.option.value)'>
    <mat-option *ngFor="let item of filteredData | async" [value]="item">
      {{ item.descripcionAutocomplete }}
    </mat-option>
  </mat-autocomplete>
  <button mat-icon-button matSuffix (click)='seleccionarItem(trigger)'>
    <mat-icon> search </mat-icon>
  </button>
</mat-form-field>
</form>