<!-- <div class="row margin-abm">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box">

      <mat-card>

        <form [formGroup]="cursoSeccionForm">

          <mat-card-content>

            <div class="row">
              <div class="col-xs-6">
                <div class="box">

          </mat-card-content>
          <mat-card-actions align="end">

            <button mat-raised-button color="primary" type="button" [disabled]="cursoSeccionForm.invalid"
              (click)="guardarCursoSeccion($event)" (keyup.enter)="guardarCursoSeccion($event)">Guardar Curso Seccion</button>
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
          </mat-card-actions>

        </form>
      </mat-card>


    </div>
  </div>
</div> -->
